/Roland_IO Malware/Roland_IO Malware/bin/x64/Debug/Data

/Roland_IO Malware/Roland_IO Malware/bin/x64/Debug/Data3
/Malware Detection Service/MalwareDetectionSystem/bin/Debug/Data
/Malware Detection Service/MalwareDetectionSystem/bin/x64/Debug/Data
/Malware Detection Service/MalwareDetectionSystem/bin/x64/Debug/Data3
